<% layout('/layouts/boilerplate.ejs')%>
<body>

<div class="container show-container">
        <div class="row show-row">
        <div class="col show-col-img"><img src="<%=listing.image.url%>" class="show-img" ></div>
        <div class="col show-col-detail">
            <h5><%=listing.title%></h5>
            <h6>&#8377;<%=listing.price.toLocaleString('en-IN')%>/night</h6>
            <h6><%=listing.location%>, <%=listing.country%></h6>
            <p><%=listing.description%></p>
            <div class="show-btns">
                <a href="/listings/<%=listing._id%>/edit" class=" btn show-edit">Edit</a>
                <form method="post" action="/listings/<%=listing._id%>?_method=DELETE"><button class="btn show-dlt">Delete</button></form>
            </div>
        </div>
    </div>
</div>


</body>




            <!-- <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%=listing.title%></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">&#8377;<%=listing.price.toLocaleString('en-IN')%>/night</h6>
                    <p class="card-text"><%=listing.description%></p>
                    <a href="/listings/<%=listing._id%>/edit" class="card-link btn">Edit</a>
                    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE"><button class="btn">Delete</button></form>
                </div>
            </div> -->